{% extends 'base.html.twig' %}

{% block body %}
    <h1>Voir la liste des annonces</h1>
    <ul>
        {% for property in properties  %}
        <li>
            <a href="{{ path('property_show', {slug: property.title}) }}">
                {{ property.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
    {# On peut dumper dans Twig aussi #}
    {{ dump(properties) }}
{% endblock %}
