{% extends 'base.html.twig' %}

{% block body %}
    Voir l'annonce {{ slug | upper }}

    {% for letter in 'a'..'z' %}
        {{ cycle(['<strong>', '<span>'], loop.index) | raw }}
    {{ letter }}
        {{ cycle(['</strong>', '</span>'], loop.index) | raw }}
    {% endfor %}
{% endblock %}