{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter une annonce</h1>

    {{ form_start(realEstateForm) }}
    {{ form_widget(realEstateForm) }}

    <!-- le formnovalidate permet de désactiver la validation HTML5 -->
    <button class="btn btn-primary" formnovalidate>Ajouter</button>
    {{ form_end(realEstateForm) }}
{% endblock %}