{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-6">
            IMAGE
        </div>
        <div class="col-lg-6">
            <h1>{{ property.title }}</h1>
        </div>

    </div>
{% endblock %}